<h1>Markdown Editor</h1>

<mat-grid-list cols=2 rows=1>
    <mat-grid-tile>
        <mat-form-field class="markdown-input" appearance="fill">
            <mat-label>Write your markdown here..</mat-label>
            <textarea class="min-height" matInput placeholder="# Title" [(ngModel)]="myMarkdown"></textarea>
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
        <markdown class="markdown-output" [data]="myMarkdown"></markdown>
    </mat-grid-tile>
</mat-grid-list>

<div *ngIf="formGroup">


    <form [formGroup]="formGroup" (ngSubmit)="submitForm()">
        <div>
            <label>Description</label>
            <input formControlName="description">
        </div>

        <div>
            <label>Video Url</label>
            <input formControlName="videoUrl">
        </div>

        <button type="submit">submit</button>
    </form>
</div>