<!-- <div *ngIf="this.currentPage!=null && this.videoPages && this.videoPages[currentPage]">

    <h1 *ngIf="mainTitle">{{mainTitle}}</h1>

    <div class="body">
        <section>
            <h2>{{videoPages[currentPage].title}}</h2>
            <iframe *ngIf="videoPages[currentPage].videoUrl" width="560" height="315"
                [src]="sanitizeUrl(videoPages[currentPage].videoUrl)" title="YouTube video player" frameborder="0"
                allowfullscreen></iframe>
        </section>

        <section>
            <markdown [data]="videoPages[currentPage].markdownText"></markdown>
            <ng-content></ng-content>
        </section>

        <div class="buttons">
            <button class="previous" mat-raised-button [disabled]="currentPage==0"
                (click)="previousPage()">Back</button>
            <button class="next" mat-raised-button [disabled]="currentPage==videoPages.length-1" (click)="nextPage()"
                color="primary">Next</button>
        </div>

    </div>

</div> -->


<div *ngIf="$videoPage | async as videoPage">
    <div class="body">
        <section>
            <!-- <h2>Placeholder title</h2> -->
            <iframe *ngIf="videoPage.videoUrl" width="560" height="315" [src]="sanitizeUrl(videoPage.videoUrl)"
                title="YouTube video player" frameborder="0" allowfullscreen></iframe>
        </section>

        <section>
            <markdown [data]="videoPage.markdownText"></markdown>
            <ng-content></ng-content>
        </section>
    </div>
</div>