h1 {
  text-align: center;
}

iframe {
  margin: auto;
  display: block;
}

button.previous {
  text-align: center;

  float: left;
}

button.next {
  text-align: center;
  float: right;
}

div.buttons {
  margin-top: 3rem;
  margin-left: 10%;
  margin-right: 10%;
}
