h1 {
  text-align: center;
}

.body {
  margin: 2rem;
}

iframe {
  margin: auto;
  display: block;
}

p {
  white-space: pre-line;
}

button.previous {
  text-align: center;

  float: left;
}

button.next {
  text-align: center;
  float: right;
}

div.buttons {
  margin-top: 3rem;
  margin-left: 10%;
  margin-right: 10%;
}

section {
  margin-bottom: 2rem;
}
