<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Courses</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/">Home</a>
      <a mat-list-item routerLink="/courses/oop/0">Introduction to OOP</a>
      <a mat-list-item routerLink="/courses/circuits-comb/0">Combinatoric Circuits</a>
      <a mat-list-item routerLink="/courses/circuits-seq/0">Sequential Circuits</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>

        <mat-icon><span class="material-icons">
            dark_mode
          </span></mat-icon>
        <span style="padding-right:10px; padding-left:10px">Dark theme</span>
        <mat-slide-toggle [checked]="isThemeDark" (click)="$event.stopPropagation()" (change)="onThemeSwitched($event)">
        </mat-slide-toggle>

      </span>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>